* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
  }

  .nav{
      background-color: rgb(204, 14, 14);
      padding: 2ch;
  }

  .nav-link{
      font-size: 3ch;
      color: white;
  }

  .body{
    background-image: url("image4.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
}

.input{
    background-color: rgb(71, 143, 113);
    height: 400px;
    width:400px;
    padding-top:3ch;
    padding-bottom:1ch;
    border-radius: 2ch;
}