* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
  }

  .navbar_navbar-light_bg-light{
      background-color: rgb(71, 143, 113);
      padding: 3ch;
  }

  .navbar-brand_mb-0_h1{
      font-size: 5ch;
      color: white;
  }

  .bg_navbar{
      background-image: url("image2.jpeg");
      background-size:auto;
    }

    .card{
        background-color: rgb(71, 143, 113);
        color: white;
    }