* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
  }

.nav{
    background-color: rgb(71, 143, 113);
    padding: 3ch;
}

.nav-link{
    font-size: 3ch;
    color: white;
}